body {
}

#brevery-title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    width: 100%;
}

.brevery-details{
    background-color:rgba(0,0,0,0.9);
    margin-bottom: 4vh;
}

.brevery-name {
    color: white;
    padding-top: 3vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 30px;
}

.data-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    margin-bottom: 2vh;
}

.data-grid span{
    color: white;
    font-size: 20px;
    font-family: 'Noticia Text', serif;
}

.brevery-description {
    white-space: pre-wrap;
    color: white;
    font-size: 15px;
    font-family: 'Noticia Text', serif;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1vh;
    text-align: justify;
}

.desc-mark {
    color: white;
    font-size: 19px;
    font-family: 'Noticia Text', serif;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2vh;
}

.show-beers{
    display:grid;
    align-content:center;
    justify-content: center;
}

.show-beers a{
    font-family: 'Noticia Text', serif;
    color: white;
    font-size: 30px;
}

.show-beers a:hover{
    color: red;
}

#create {
    background-color: black;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Noticia Text', serif;
}

.buttons-container{
    padding-bottom: 30px;
    padding-left: 30px;
}

.buttons-container a{
    color: white;
    font-size: 20px;
    font-family: 'Noticia Text', serif;
}

#table{
    background-color: rgba(0,0,0,0.9);
}

th{
    color:white;
    font-weight:bolder;
}


.beer-row{
    line-height: 20px;
}

td{
    color: white;
}

td a{
    color: white;
}



.beer-name a{
    font-size: 15px;
    font-weight: bold;
}

.beer-name a:hover {
    color: red;
}

.empty-beer {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 300px;
    color: white;
    font-size: 40px;
    background-color: rgba(0,0,0,0.9);
    font-family: 'Noticia Text', serif;
}